<Files ".htpasswd">
  Require all denied
</Files>

AuthType Basic
AuthName "CareScotland Admin"
AuthUserFile "/home/u248320297/domains/papayawhip-mule-276821.hostingersite.com/public_html/admin/.htpasswd"
Require valid-user
